<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="left">
        <div class="LNW"><img src=" ../../assets/lnw_white_logo.svg"  /></div>
        <div class="rights">© 2022 Light & Wonder, Inc. and its Subsidiaries. All Rights Reserved.</div>
    </div>
    <div class="main">
        <div class="login">
            <form>
                <label>Login</label>
                <input type="text" name="txt" placeholder="User name" [(ngModel)]="loginObj.username" required="">
                <input [type]="changetype?'password':'text'" name="pswd" placeholder="Password" required=""
                    [(ngModel)]="loginObj.password" required="">
                <i (click)="viewpass()" [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
                <button on-click="logIn()">Login</button>
            </form>
            <p>Don't have a account? <a routerLink="/signup">Sign Up</a></p>
        </div>
    </div>
</body>

</html>